<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1 style="color:DarkSlateGray;">Welcome {{data.user}}
    <a href="{% url 'ManageTask:logout' %}">
        <button type="submit">
        Logout
        </button>
    </a>
    </h1>
    <h2 style="color:Teal;">You have the Following Lists Available</h2>
    {% for specific_list in data.task_list %}
        <a href="{% url 'ManageTask:task_list' specific_list.id%}"> <h3 style="color:BlueViolet;">{{specific_list}}</h3></a>
<!--        <ul>-->
<!--            {% for task in data.tasks.values %}-->
<!--                <li>{{task}}</li>-->

<!--            {% endfor %}-->
        </ul>

    {% endfor %}
</body>
</html>